/*pagina 1*/
body{
    margin: 0;
    padding: 0;
    background-image: url("fundo_p.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar-text{
    color: rgba(0, 155, 226, 0.952);
    font-size: 25px;
}

.titulo1{
    font-size: 28px;
    
}

.infos1 p{
    font-size: 19.5px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.titulo2{
    font-size: 28px;
    
}

.infos2 p{
    font-size: 19.5px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.butao{
    width: 220px;
    height: 50px;
    text-align: center;
    margin-left: 22%;
    border-radius: 20px;
    background-color: rgba(0, 155, 226, 0.952);
    color: white;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px rgba(17, 17, 17, 0.699);
    font-size: 25px;
    font-family: bold;
    margin-top: 45px;
}

.butao:hover{
    width: 225px;
    height: 65px;
    background-color: rgba(5, 132, 190, 0.877);
}






